aiosmtplib
annotated-doc
annotated-types
anyio
asttokens
async-generator
attrs
bcrypt
beautifulsoup4
blinker
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudinary
cloudpathlib
colorama
confection
cryptography
cymem
decorator
defusedxml
distro
dnspython
easyocr
ecdsa
email-validator
et_xmlfile
executing
fastapi
fastapi-mail
fastapi-sso
filelock
fsspec
h11
httpcore
httpx
idna
ImageIO
imageio-ffmpeg
importlib_metadata
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
joblib
lazy_loader
lxml
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
motor
moviepy
mpmath
murmurhash
mypy_extensions
networkx
ninja
nltk
numpy
oauthlib
openai
opencv-python-headless
openpyxl
outcome
packaging
pandas
parso
passlib
pillow
preshed
proglog
prompt_toolkit
pure_eval
pyasn1
pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pymongo
PyPDF2
PySocks
python-dateutil
python-dotenv
python-jose
python-multipart
PyYAML
regex
requests
rich
rsa
scikit-image
scipy
selenium
setuptools
shapely
shellingham
six
smart_open
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
sympy
thinc
tifffile
torch
torchaudio
torchvision
tqdm
traitlets
trio
trio-typing
trio-websocket
typer
typer-slim
types-certifi
types-urllib3
typing-inspection
typing_extensions
tzdata
undetected-chromedriver
urllib3
uvicorn
wasabi
wcwidth
weasel
websocket-client
websockets
wrapt
wsproto
youtube-transcript-api

# Video transcription dependencies
SpeechRecognition==3.10.0
pydub==0.25.1
yt-dlp
zipp
gunicorn==21.2.0
uvicorn==0.27.1
